<div class="container" style="margin-top: 50px;">
    <div class="m-2">

        <button class="btn btn-light btn-outline-warning">
            <a href="/newblog">Create a new blog</a>

        </button>
    </div>
    <br>

    {{#each blogs}}
    <div class="row">
        <div class="col-md-9">
            <div class="card p-4 m-2 alert-danger" style="width: 25rem;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{imagetwo}}" alt="fff">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{nametwo}}</h5>
                            <p class='card-title'>{{paratwo}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <button class="btn btn-light btn-outline-danger m-2 "> <a href="/blogs/{{_id}}">Edit it</a> </button> <br>
            <button class="btn btn-light btn-outline-danger m-2"> <a href="/blogs/{{_id}}/delete">Delete</a> </button>
        </div>
    </div>

    <br><br><br>
    {{/each}}

</div>